.Friends{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.image{
    transform: scale(0.8);
}
.Friends > h4 {
    font-weight: 600;
    padding-left: 10px;
}
.Friends:hover{
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}