.header_left>img {
    height: 40px;
}

.header_info>img {
    height: 40px;
    border-radius: 30px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 100;
    // width: 100%;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
    display: flex;
}

.header_input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header_input>input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_middle {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_option>.MuiSvgIcon-root {
    color: gray;

}

.header_option:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
}

.header_option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_info>img {
    margin-left: 10px;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_option--active>.MuiSvgIcon-root {
    color: #2e81f4;
}

.header_option--active {
    border-bottom: 4px solid #2e81f4;
}

.header_option--active:hover {
    border-radius: 0% !important;
    background-color: white;
}

.abc {
    color: gray !important;
    margin-left: 20px;
    padding: 8px;
    color: #000;
    background-color: rgb(237, 237, 237);
    border-radius: 30px;
}
.abc:hover {
   background-color: lightgrey;
}