.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: #cfcfcf;
}
.body {
  margin: 10px;
}
.header_custom {
  margin: 10px;
  display: flex;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header_custom > h4 {
  color: gray;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
.input_custom {
  margin-top: 10px;
}

.cancel {
  margin-left: auto;
  cursor: pointer;
  color: gray;
}

.user_info {
  display: flex;
}
.public {
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  background-color: lightgray;
  display: flex;
  align-items: center;
}
.public > span {
  padding-left: 5px;
  font-weight: 500;
}
.info {
  padding-left: 10px;
}
.input {
  padding-bottom: 20%;
  width: 100%;
  border: none;
  outline: 0;
}

.text_custom {
  color: gray;
  display: flex;
  justify-content: space-between;
}
.FontIcon {
  color: #fab1b1;
  cursor: pointer;
}
.SentIcon {
  cursor: pointer;
}
.custom_posts {
    padding-top: 15px;
    padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.a {
  color: greenyellow;
  cursor: pointer;
}
.b {
  padding-left: 10px;
  color: rgb(70, 70, 255);
  cursor: pointer;
}
.c {
  padding-left: 10px;
  color: rgb(211, 211, 29);
  cursor: pointer;
}
.d {
  padding-left: 10px;
  color: red;
  cursor: pointer;
}
.e {
  padding-left: 10px;
  color: skyblue;
  cursor: pointer;
}
.f {
  padding-left: 10px;
  cursor: pointer;
}
.post_button{
    background-color: gray;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgrey;
    margin-top: 25px;
    text-align: center;
    cursor: pointer;
}
