.posts {
    width: 75%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.posts_top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.posts_avatar {
    margin-right: 10px;
}

.posts_topIcon>h3 {
    font-size: medium;
}

.posts_bottom {
    margin-bottom: 10px;
    // margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



.posts_image>img {
    width: 100%;
}

.posts_options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;

    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.posts_option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.posts_option>p {
    margin-left: 10px;
}

.posts_option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.posts_topInfo {
    margin-left: 10px;
}

.posts_topInfo>h3 {
    font-size: medium;
}

.date {
    display: flex;
    font-weight: lighter;
}

.publicIcon {
    margin-left: 5px;
    transform: scale(0.8);
}

.posts_topInfo>h3:hover {
    text-decoration: underline;
}

.date>p:hover {
    text-decoration: underline;
}