.sliderBarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.sliderBarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sliderBarRow>h4{
    margin-left: 20px;
    font-weight: 600;
}
>.sliderBarRow > .MuiSvgIcon-root{
    font-style: xx-large;
    color: #2eB1f4;
}