.pages {
    margin-top: 10px;
    display: flex;
}

.pages>.icon {
    margin-left: 10px;
    cursor: pointer;
}

.pages>.icon:hover {
    background-color: lightgray;
    border-radius: 30px;
}

.pages>h3 {
    color: gray;
}

.group {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.group>b {
    margin-left: 5px;
    font-weight: 500;
}
.group:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.group_icon {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    cursor: pointer;
}
.group_icon:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.group_icon>p {
    margin-top: 5px;
    margin-left: 10px;
    color: gray;
}
.group_info{
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}
.Birthday{
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;

}
.Birthday >h3 {
    color: gray;
}
.birthdays{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.birthdays > p {
    padding-left: 10px;
}
.birthdays:hover{
    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;
}
.friendIcon{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.icon_friend{
   margin-left: 10px;
   padding: 5px;
}
.icon_friend:hover{
    background-color: lightgray;
    border-radius: 30px;
    cursor: pointer;
}
.image_custom{
    transform: scale(0.8);
}



